{{#each items}}
<article>
    <div class="card">
        <img class="card__img" src="{{srcImg}}" alt="{{altImg}}">
        <h3 class="card__title">{{title}}</h3>
        {{#if (oldPrise)}}<span class="card__Old-price">{{oldPrise}}</span>{{/if}}
        <span class="card__New-price">{{newPrise}}</span>
    </div>
</article>
{{/each}}

