{{#each this}}
<div class="card__all--content  swiper-slide">
  <article class='card__article' data-id="{{_id}}" data-userid="{{userId}}">
    <div class='card'>
        <button class="icon-heart-white" type="button">
          <div class="icon-heart"></div>
          <div class="icon-heart--favorites"></div>
        </button>
        <button class="icon-fullscreen" type="button">
          <div class="icon-fullscreen--conteiner"></div>
        </button>
      <div class='card__conteiner'>
        <img class='card__img' src='{{imageUrls.[0]}}' alt='{{title}}' />
      </div>
      <div class='card__name--price'>
        <h3 class='card__title'>{{title}}</h3>
        <div class='card__price'>
          {{#if isOnSale}}<span class='card__old-price'>{{oldPrice}} &#8364 
            <div class="icon-line">
            </div>
          </span> {{/if}}
          <span class='card__new-price'>{{price}} &#8364</span>
        </div>
      </div>
    </div>
  </article>
</div>
{{/each}}