{{#each this}}

  <article class='card__article' data-id="{{_id}}" data-userid="{{userId}}">
    <div class='card'>
        <button class="icon-heart-white" type="button">
          <svg class="icon" width="16" height="16">
            <use class="icon-heart" href="/sprite.5ec50489.svg#icon-heart-wihte"></use>
            <use class="icon-heart--favorites" href="/sprite.5ec50489.svg#icon-heart"></use>
          </svg>
        </button>
        <button class="icon-fullscreen" type="button">
          <svg class="icon" width="20" height="20">
            <use href="/sprite.5ec50489.svg#icon-fullscreen"></use>
          </svg>
        </button>
      <div class='card__conteiner'>
        <img class='card__img' src='{{imageUrls.[0]}}' alt='{{title}}' />
      </div>
      <div class='card__name--price'>
        <h3 class='card__title'>{{title}}</h3>
        <div class='card__price'>
          {{#if isOnSale}}<span class='card__old-price'>{{oldPrice}} &#8364 
            <svg class="icon-line" width="71" height="1">
            <use href="/sprite.5ec50489.svg#icon-line"></use>
            </svg>
          </span> {{/if}}
          <span class='card__new-price'>{{price}} &#8364</span>
        </div>
      </div>
    </div>
  </article>

{{/each}}