<div class='backdrop'>
    <div class='modal modal-card'>
        {{#each this}}
        <div class="modal-card-conteiner" data-id="{{_id}}" data-isFavorites="{{isFavorites}}">
            <div class="modal-card--name isHibenTitelOne">
                <p class="modal-card--titel">{{this.title}}</p>
                <p class="modal-card--cod">Категория товара | {{this._id}}</p>
            </div>
            <div class="modal-card--imgContiner">
                <div class="modal-card--img">
                    <img class="modal-card--imgCard" src="{{this.imageUrls.[0]}}" alt="картинка">
                </div>
                <div>
                    <ul class="modal-card--list">
                        {{#each imageUrls}}
                        <li class="modal-card--poiner">
                            <img class="modal-card--imgPreview" src="{{this}}" alt="картинка"> 
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="modal-card-descriptionAll">
                <div class="modal-card--name isHibenTitelTwo">
                    <p class="modal-card--titel">{{title}}</p>
                    <p class="modal-card--cod">Категория товара | {{category}}</p>
                </div>
                    <p class="modal-card--price">{{price}} &#8364</p>
                    <div class="modal-card--info">
                        <button class="modal-card--bnInfo" type="button">Информация о продавце</button>
                    </div>

                    <div class="modal-card--userInfo isDispleyNone">
                            <p> email: {{this.email}}</p>
                            <p> phone: {{this.phone}}</p>
                            <p> {{this.registrationDate}}</p>
                    </div>
                    
                    <div class="modal-card--isFavorite">
                        <button class="modal-card--buttonIsFavorite" type="button">
                            <span>В избранное</span>
                            <div class="modal-card--heart"></div>
                            <div class="modal-card--heartIsFavorite"></div>
                        </button>

                        <button class="modal-card--buttonToShare" type="button">           
                            <span>Поделиться</span>
                            <div class="modal-card--share">
                            </div>
                        </button>
                    </div>
                    <div>
                        <p class="modal-card--description">Описание</p>
                        <p class="modal-card--descriptionAll">{{description}}</p>
                    </div>
            </div>
        </div>
        {{/each}}
       
        <button class='modal-close-button' type='button' aria-label='Close modal'>
            <div class='modal-close-button__icon'></div>
            <div class='modal-close-button__icon-white'></div>
        </button>
    </div>
</div>
